<div class="inner-content mt-3">
    <div class="row">
        <h1 class="col-6">คลังสินค้า</h1>
        <div class="col-6 d-flex justify-content-end"><button nz-button class="btn-orange"
                (click)="createWarehouse('normal')">เพิ่มคลังสินค้า</button>
        </div>
    </div>

    <nz-input-group class="mb-3" [nzPrefix]="prefixTemplateSearch" style="width: 400px;">
        <input nz-input class="ml-3" placeholder="ค้นหา" nzSize="default" name="search" (keyup.enter)="search()"
            [(ngModel)]="model_search.search">
    </nz-input-group>
    <ng-template #prefixTemplateSearch><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>

    <nz-table class="mb-3" [nzData]="warehouselist" [nzShowPagination]="false">
        <thead>
            <tr>
                <th class="">ID</th>
                <th class="col-1 text-center">รหัสคลังสินค้า</th>
                <th class="col-4">ชื่อคลังสินค้า</th>
                <th class=" col-2 text-end">จำนวนสินค้า</th>
                <th class="col-3 text-center">รายการเคลื่อนไหวล่าสุด</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of warehouselist">
                <td class="text-end">{{obj.id}}</td>
                <td class="text-center">{{obj.warehouse_id}}</td>
                <td><a class="td-link" routerLink="/system/warehouse-detail/{{obj.id}}">{{obj.warehouse_name}}</a></td>
                <td class="text-end">{{obj.numbers_ofproducts | currency: ' '}}</td>
                <td class="text-center">{{obj.updated_at | date: 'medium'}}</td>
                <td class="py-1">
                    <button class="btn-edit-delete me-3" (click)="editWarehouse(obj)">
                        <i class="far fa-edit table-icon" style="color: #faad14;"></i>
                    </button>
                    <button class="btn-edit-delete" (click)="deleteWarehouse(obj.warehouse_id)">
                        <i class="fas fa-trash-alt table-icon" style="color: #EC1C24;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="d-flex justify-content-end">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="10"></nz-pagination>
    </div>
</div>