<div class="row mb-3">
    <div class="col-3">
        <p>รหัสสินค้า</p>
    </div>
    <div class="col-9">
        <p>PD001</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ชื่อสินค้า</p>
    </div>
    <div class="col-9">
        <p>Product01</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ชื่อคลังสินค้า</p>
    </div>
    <div class="col-9">
        <p>คลังสินค้าหลัก</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ประเภทปรับจำนวน</p>
    </div>
    <div class="col-9">
        <nz-select [(ngModel)]="status">
            <nz-option [nzValue]="1" nzLabel="นำเข้า"></nz-option>
            <nz-option [nzValue]="2" nzLabel="โอนย้าย"></nz-option>
            <nz-option [nzValue]="3" nzLabel="ชำรุด"></nz-option>
            <nz-option [nzValue]="4" nzLabel="นำออก"></nz-option>
        </nz-select>
    </div>
</div>
<div class="row mb-3" *ngIf="status == 2">
    <div class="col-3">
        <p>ปลายทางที่ย้าย</p>
    </div>
    <div class="col-9">
        <nz-select ngModel="คลังสินค้า A">
            <nz-option nzValue="คลังสินค้า A" nzLabel="คลังสินค้า A"></nz-option>
            <nz-option nzValue="คลังสินค้า B" nzLabel="คลังสินค้า B"></nz-option>
            <nz-option nzValue="คลังสินค้า C" nzLabel="คลังสินค้า C"></nz-option>
        </nz-select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>จำนวน</p>
    </div>
    <div class="col-3">
        <nz-input-group [nzSuffix]="warehouse_nameTpl">
            <input type="text" nz-input [(ngModel)]="save_model.numbers_ofproducts" placeholder="" />
        </nz-input-group>
        <ng-template #warehouse_nameTpl><i nz-icon class="ant-input-clear-icon clear" nzTheme="fill"
                nzType="close-circle" *ngIf="save_model.numbers_ofproducts" (click)="save_model.numbers_ofproducts = null"></i>
        </ng-template>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ที่อยู่</p>
    </div>
    <div class="col-9">
        <textarea rows="4" nz-input></textarea>
    </div>
</div>
<!-- <div style="border-bottom: 1px solid gray;"></div>
<button nz-button class="btn-outline-orange" (click)="closeModal()">ปิด</button> -->

<footer class="d-flex justify-content-end">
    <button nz-button class="btn-outline-orange me-3" (click)="closeModal()">ปิด</button>
    <button nz-button class="btn-orange" (click)="state == 'create'? create():update()">{{state == 'create'? 'สร้าง':'บันทึก'}}</button>
</footer>
