<div>
    <div class="submenu-icon d-inline-block me-1"><i nz-icon  nzType="close" nzTheme="outline"></i></div>
    <h2 class="d-inline-block">ไม่สามารถลบสินค้าได้</h2>
</div>
<p>ไม่สามารถลบสินค้าได้เนื่องจากมีสินค้านี้เหลืออยู่ภายในคลัง หากต้องการลบสินค้า จะต้องไม่มีสินค้านี้เหลืออยู่ในคลัง</p>

<nz-table #basicTable [nzData]="listdata">
    <thead>
      <tr>
        <th>ลำดับ</th>
        <th>ชื่อสินค้า</th>
        <th>จำนวนสินค้าทั้งหมด</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Product01</td>
        <td>10</td>
      </tr>
    </tbody>
  </nz-table>

  <footer class="d-flex justify-content-end">
     <button nz-button class="btn-outline-orange mt-1" (click)="closeModal()">ปิด</button>
</footer>
