<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="240px" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <!-- Dashboard -->
      <a href="">
        <li nz-menu-item >
          <i class="fas fa-chart-line me-3"></i>
          <span>Dashboard</span>
        </li>
      </a>

      <!-- Warehouse -->
      <!-- <li nz-submenu routerLinkActive="ant-menu-submenu-open" [(nzOpen)]="openMap.sub1"
        (nzOpenChange)="openHandler('sub1')">
        <span title><i class="fas fa-warehouse me-3"></i><span>Warehouse</span></span>
        <ul>
          <a routerLink="/system/warehouse">
            <li nz-menu-item routerLinkActive="ant-menu-item-selected">Warehouse</li>
          </a>
          <li nz-menu-item>sub2</li>
          <li nz-menu-item>sub3</li>
        </ul>
      </li>
      <ng-template #warehouseIcon>
        <div style="color: aliceblue;">
          <i class="fas fa-warehouse"></i>
        </div>
      </ng-template> -->
      
      <a routerLink="/system/warehouse">
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <i class="fas fa-warehouse me-3"></i>
          <span>Warehouse</span>
        </li>
      </a>
      
      <!-- Products -->
      <li nz-submenu  routerLinkActive="ant-menu-submenu-open ant-menu-submenu-selected"
      [(nzOpen)]="openMap.sub3" (nzOpenChange)="openHandler('sub3')">
        <span title><i class="fas fa-box me-3"></i><span>Products</span></span>
        <ul>
          <a routerLink="/system/products">
            <li nz-menu-item routerLinkActive="ant-menu-item-selected">Products</li>
          </a>
          <a routerLink="/system/transfer">
            <li nz-menu-item routerLinkActive="ant-menu-item-selected">Transfer</li>
          </a>
        </ul>
      </li>

      <!-- Orders -->
      <li nz-menu-item>
        <i class="fas fa-shopping-cart me-3"></i>
        <span>Orders</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="row p-0 m-0">
        <div class="col-6 p-0">
          <i class="trigger hover-orange" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></i>
        </div>
        <div class="col-6 d-flex justify-content-end" style="padding-right: 25px !important;">
          <div>
            <img src="../../../assets/images/profile.png" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
          </div>
          <p>User</p>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>