.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}


/* -------------------------------------------- Sider -------------------------------------------- */
nz-sider {
    background: #1a1a1a;
}

nz-sider span {
    background: none;
}

.close-sider {
    flex: 0 0 80px;
    width: 0px !important;
}

/* .menu-icon {
    margin-right: 5px;
} */

::ng-deep .ant-menu-dark {
    background-color: #1a1a1a !important;
}

/* .ant-menu-item {
    background-color: #2c2c2c;
} */

::ng-deep .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2c2c2c;
}

.ng-star-inserted {
    background-color: #2c2c2c;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

::ng-deep .ant-menu-dark .ant-menu-item:hover {
    color: #e85440 !important;
    background-color: #ffffff14 !important;
}

::ng-deep .ant-menu-submenu-open {
    color: #e85440 !important;
}



::ng-deep .ant-menu-item-selected {
    background-color: #e85440 !important;
}

/* -------------------------------------------- Sider End -------------------------------------------- */

nz-footer {
    text-align: center;
}

::ng-deep .ant-layout-sider-children {
    height: 100vh;
}

::ng-deep .menu-icon svg {
    margin-top: -6px;
}

.hover-orange:hover {
    color: #e85440;
}

::ng-deep .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    background: #c2dfff;
}