<div class="row mb-3">
    <div class="col-3">
        <p>รหัสคลังสินค้า</p>
    </div>
    <div class="col-9">
        <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="save_model.warehouse_id" placeholder="" />
        </nz-input-group>
        <ng-template #inputClearTpl><i nz-icon class="ant-input-clear-icon clear" nzTheme="fill" nzType="close-circle"
                *ngIf="save_model.warehouse_id" (click)="save_model.warehouse_id = null"></i>
        </ng-template>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ชื่อคลังสินค้า</p>
    </div>
    <div class="col-9">
        <nz-input-group [nzSuffix]="warehouse_nameTpl">
            <input type="text" nz-input [(ngModel)]="save_model.warehouse_name" placeholder="" />
        </nz-input-group>
        <ng-template #warehouse_nameTpl><i nz-icon class="ant-input-clear-icon clear" nzTheme="fill"
                nzType="close-circle" *ngIf="save_model.warehouse_name" (click)="save_model.warehouse_name = null"></i>
        </ng-template>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>จังหวัด</p>
    </div>
    <div class="col-9">
        <nz-select ngModel="ชลบุรี">
            <nz-option [nzValue]="'ชลบุรี'" nzLabel="ชลบุรี"></nz-option>
        </nz-select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>อำเภอ/เขต</p>
    </div>
    <div class="col-9">
        <nz-select ngModel="ศรีราชา">
            <nz-option nzValue="ศรีราชา" nzLabel="ศรีราชา"></nz-option>
        </nz-select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <p>ที่อยู่</p>
    </div>
    <div class="col-9">
        <textarea rows="4" nz-input></textarea>
    </div>
</div>
<!-- <div style="border-bottom: 1px solid gray;"></div>
<button nz-button class="btn-outline-orange" (click)="closeModal()">ปิด</button> -->

<footer class="d-flex justify-content-end">
    <button nz-button class="btn-outline-orange me-3" (click)="closeModal()">ปิด</button>
    <button nz-button class="btn-orange" (click)="state == 'create'? create():update()">{{state == 'create'? 'สร้าง':'บันทึก'}}</button>
</footer>