<div class="inner-content mt-3 mb-3">
    <div class="row">
        <h1 class="col-6">คลังสินค้า</h1>
        <div class="col-6 d-flex justify-content-end">
            <button nz-button class="btn-orange"(click)="createWarehouse('normal',tplTitle)">
                <i class="fas fa-plus-circle me-1"></i>เพิ่มคลังสินค้า
            </button>
        </div>
        <ng-template #tplTitle let-ref="modalRef">
            <div class="submenu-icon d-inline-block me-2"><i class="fas fa-warehouse icon"></i></div>
            <h2 class="d-inline-block m-0">เพิ่มคลังสินค้า</h2>
        </ng-template>
    </div>

    <nz-input-group class="mb-3" [nzPrefix]="prefixTemplateSearch" style="width: 400px;">
        <input nz-input class="ml-3" placeholder="ค้นหา" nzSize="default" name="search" (keyup.enter)="search()"
            [(ngModel)]="model_search.search">
    </nz-input-group>
    <ng-template #prefixTemplateSearch><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>

    <nz-table class="mb-3" [nzData]="warehouselist" [nzShowPagination]="false">
        <thead>
            <tr>
                <th class="text-end">ID</th>
                <th class="col-1 text-center">รหัสคลังสินค้า</th>
                <th class="col-4">ชื่อคลังสินค้า</th>
                <th class=" col-2 text-end">จำนวนสินค้า</th>
                <th class="col-3 text-center">รายการเคลื่อนไหวล่าสุด</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of warehouselist">
                <td class="text-end">{{obj.id}}</td>
                <td class="text-center">
                    <nz-tag [nzColor]="'cyan'">{{obj.warehouse_id}}</nz-tag>
                </td>
                <td><a class="td-link" routerLink="/system/warehouse-detail/{{obj.id}}">{{obj.warehouse_name}}</a></td>
                <td class="text-end">
                    <nz-tag class="tag-orange" [nzColor]="'orange'">{{obj.numbers_ofproducts | number: '1.0-0'}}</nz-tag>
                </td>
                <td class="text-center">{{obj.updated_at | date: 'medium'}}</td>
                <td class="py-1">
                    <button class="btn-edit-delete me-3" (click)="editWarehouse(obj,tplTitleEdit)">
                        <i class="far fa-edit table-icon" style="color: #868686;"></i>
                    </button>
                    <ng-template #tplTitleEdit let-ref="modalRef">
                        <div class="submenu-icon d-inline-block me-2"><i class="fas fa-warehouse icon"></i></div>
                        <h2 class="d-inline-block m-0">แก้ไขคลังสินค้า</h2>
                    </ng-template>

                    <button class="btn-edit-delete me-3" (click)="deleteWarehouse(obj.id)">
                        <i class="fas fa-trash-alt table-icon" style="color: #868686;"></i>
                    </button>
                    <ng-template #TplFooter class="d-flex justify-content-end">
                        <button nz-button class="btn-outline-orange me-3">ปิด</button>
                        <button nz-button class="btn-orange">ยืนยัน</button>
                    </ng-template>

                    <a routerLink="/system/warehouse-detail/{{obj.id}}">
                        <button class="btn btn-light btn-sm btn-detail mb-2">
                            ดูรายละเอียด
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="d-flex justify-content-end">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="10"></nz-pagination>
    </div>
</div>