.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.btn-edit-delete {
    border: none;
    background: #fff;
    box-shadow: 1px 1px 4px 0px #00000038 !important;
    border-radius: 5px;
    padding: 3px 6px;
    margin-top: 5px;
    /* transition: .3s; */
}

.btn-edit-delete:hover {
    transform: scale(1.1);
}

.btn-detail {
    box-shadow: 1px 1px 4px 0px #00000038 !important;
    /* border: 1px solid #e85440; */
    color: rgb(0 0 0 / 50%);
}

.btn-detail:hover {
    transform: scale(1.1);
}

.table-icon {
    font-size: 26px;
}

::ng-deep .ant-table-cell a {
    color: #000;
}

::ng-deep .ant-table-cell a:hover {
    color: #e85440;
}

.ant-tag-orange {
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 0;
}

.ant-tag-cyan {
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}