<nz-input-group class="mb-3" [nzPrefix]="prefixTemplateSearch" style="width: 400px;">
    <input nz-input class="ml-3" placeholder="ค้นหา" nzSize="default" name="search">
</nz-input-group>
<nz-table #basicTable [nzData]="listOfData" #rowSelectionTable nzShowSizeChanger (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
        <tr>
            <th class="text-center" 
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
            >
                ทั้งหมด
            </th>
            <th></th>
            <th class="text-start">รหัสสินค้า</th>
            <th class="text-start">ชื่อสินค้า</th>
            <th class="text-start">คุณสมบัติ</th>
            <th class="text-start">พร้อมจำหน่าย</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listOfData">
            <td [nzChecked]="setOfCheckedId.has(product.id)" (nzCheckedChange)="onItemChecked(product.id, $event)"></td>
            <td class="text-center">
                <img src="../../../../assets/images/packing01.png" alt="" style="width: 37px;">
            </td>
            <td class="text-start">
                <nz-tag [nzColor]="'cyan'">{{product.key}}</nz-tag>
            </td>
            <td class="text-start">{{product.product}}</td>
            <td class="text-start">{{product.properties}}</td>
            <td class="text-start">
                <nz-tag [nzColor]="'orange'">{{product.num_ofproduct}}</nz-tag>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #prefixTemplateSearch><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
<footer class="d-flex justify-content-end">
    <button nz-button class="btn-outline-orange mt-1 me-3" (click)="closeModal()">ปิด</button>
    <button nz-button class="btn-orange mt-1">ยืนยัน</button>
</footer>