.ant-tag-orange {
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 0;
  }
  
  .ant-tag-cyan {
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 0;
  }