<div class="inner-content mt-3">
    <div class="row" style="margin-bottom: 50px;">
        <h1 class="col-6">คลังสินค้า</h1>
        <div class="col-6 d-flex justify-content-end"><button nz-button class="btn-orange">เพิ่มคลังสินค้า</button>
        </div>
    </div>

    <input nz-input class="search-input mb-3" placeholder="ค้นหา" nzSize="default" />

    <nz-table class="mb-3" [nzData]="" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>รหัสคลังสินค้า</th>
                <th>ชื่อคลังสินค้า</th>
                <th>รายการเคลื่อนไหวล่าสุด</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>KH0001</td>
                <td>คลังสินค้าหลัก</td>
                <td>17 ธ.ค. 2563 11:44</td>
                <td>
                    <button class="btn-edit-delete" (click)="editWarehouse('normal')"><i class="far fa-edit table-icon" style="color: #FFB229;"></i></button>
                    <button class="btn-edit-delete"><i class="fas fa-trash-alt table-icon" style="color: #EC1C24;"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="d-flex justify-content-end">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="10"></nz-pagination>
    </div>
</div>