.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.btn-edit-delete {
    border: none;
    background: none;
    margin-right: 10px;
}

.search-input {
    width: 542px;
    margin: 0 8px 8px 0;
}

.table-icon {
    font-size: 26px;
}

