button:focus {
    /* outline: 1px dotted; */
    outline: none !important;
}

button:active {
    /* outline: 1px dotted; */
    outline: none !important;
}

html, body {
    font-family: "Poppins", "Prompt";
}

h1 {
    font-weight: 400;
    font-size: 30px;
}

h2 {
    font-weight: 400;
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

/*-------------------- Button --------------------*/

.ant-btn-primary {
    color: #fff;
    background: #E85440;
    border-color: #E85440;
    border-radius: 5px;
    font-weight: 400;
}

.ant-btn-primary:hover {
    color: #e03526;
    background: #fff;
    border-color: #e03526 !important;
    opacity: 0.8;
    font-weight: 400;
}

.ant-btn {
    border-radius: 5px;
    font-weight: 400;
}

.ant-btn:focus {
    border-radius: 5px;
    font-weight: 400;
    color: #000;
    border-color: #d9d9d9;
}

.ant-btn:hover {
    color: #e03526;
    background: #fff;
    border-color: #e03526 !important;
    font-weight: 400;
}

.btn-orange:focus {
    color: #fff;
    background: #E85440;
    border-color: #E85440;
}

.btn-orange {
    color: #fff;
    background: #E85440;
    border-color: #E85440;
    border-radius: 5px;
    font-weight: 400;
}

.btn-orange:hover {
    color: #e03526;
    background: #fff;
    border-color: #e03526 !important;
    /* opacity: 0.8; */
    font-weight: 400;
}

.btn-outline-orange {
    border-radius: 5px;
    font-weight: 400;
}

.btn-outline-orange:hover {
    color: #e03526;
    background: #fff;
    border-color: #e03526 !important;
    font-weight: 400;
}

.ant-input {
    border-radius: 5px;
}

.ant-input:hover {
    border-color: #E85440;
}

.ant-input:focus {
    border-color: #E85440;
    box-shadow: 0 0 0 2px #ea867838;
}

.ant-input-affix-wrapper {
    border-radius: 5px;
}

.ant-input-affix-wrapper:hover {
    border-color: #E85440;
}

.ant-input-affix-wrapper-focused {
    border-color: #E85440;
    box-shadow: 0 0 0 2px #ea867838 !important;
}

/* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 5px;
} */

/* ::ng-deep.ant-select {
    width: 100px !important;
    border-radius: 5px !important;
} */

.ant-select-selector {
    border-radius: 5px !important;
}

::ng-deep .ant-select-selector:hover {
    border-color: #E85440;
}

.ant-pagination-item-active {
    background: #fff;
    border-color: #E85440;
}

.ant-pagination-item-active a {
    color: #E85440;
}

.ant-pagination-item-active:hover {
    background: #fff;
    border-color: #E85440;
}

.ant-pagination-item-active:hover a {
    color: #E85440;
}

.ant-modal-title {
    font-size: 20px;
}

.ant-picker {
    border-radius: 5px;
}