<div class="row mt-3">
    <div class="col-5">
        <h2>1. เลือกลูกค้า</h2>
        <div class="inner-content mt-3 py-4" style="
                font-size: 16px; 
                height: 70%;
                padding: 40px;
            ">
            <div>
                <nz-select class="me-3" ngModel="เลือก" style="width: 224px;">
                    <nz-option nzValue="เลือก" nzLabel="เลือก" nzDisabled></nz-option>
                    <nz-option nzValue="ลูกสินค้า A" nzLabel="ลูกสินค้า A"></nz-option>
                    <nz-option nzValue="ลูกสินค้า B" nzLabel="ลูกสินค้า B"></nz-option>
                    <nz-option nzValue="ลูกสินค้า C" nzLabel="ลูกสินค้า C"></nz-option>
                </nz-select>
                <button nz-button nzType="danger">สร้างใหม่</button>
            </div>

            <div class="customer-info-card">
                <div class="row">
                    <div class="col-6">
                        <div class="headding-info">ชื่อสกุล</div>
                        <div>ชื่อจริง นามสกุลจริง</div>
                        <div class="headding-info mt-3">อีเมล์</div>
                        <div>abc1234@gmail.com</div>
                    </div>
                    <div class="col-6">
                        <div class="headding-info">เบอร์โทรศัพท์</div>
                        <div>099-999-9999</div>
                    </div>
                </div>
            </div>

            <div class="customer-address-card py-4">
                <div class="">
                    <div class="headding-info">ที่อยู่</div>
                    <div>4/8 ถนนมหาดไทย ต. อรัญประเทศ อ. อรัญประเทศ จ.สระแก้ว 27120</div>
                </div>
            </div>
        </div>

        <h2 class="mt-4 mt-3">3. หมายเหตุ</h2>
        <div class="inner-content">
            <textarea rows="4" nz-input></textarea>
        </div>
    </div>
    <div class="col-7">
        <h2>2. เลือกสินค้า</h2>
        <div class="inner-content mt-3">
            <nz-table>
                <thead>
                    <tr>
                        <th class="col text-center">รหัสสินค้า</th>
                        <th></th>
                        <th class="col">ชื่อสินค้า</th>
                        <th class="col text-center">ราคา</th>
                        <th class="col text-center">จำนวน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col text-center">PD01</td>
                        <td class="col"></td>
                        <td class="col text-start">Product01</td>
                        <td class="col text-center">2500</td>
                        <td class="col text-center">2</td>
                        <td class="col text-center">
                            <button class="btn-edit-delete me-3">
                                <i class="far fa-edit table-icon" style="color: #868686;"></i>
                            </button>
                            <ng-template #tplTitleEdit let-ref="modalRef">
                                <div class="submenu-icon d-inline-block me-2"><i class="fas fa-warehouse icon"></i>
                                </div>
                                <h2 class="d-inline-block m-0">แก้ไขคลังสินค้า</h2>
                            </ng-template>

                            <button class="btn-edit-delete me-3">
                                <i class="fas fa-trash-alt table-icon" style="color: #868686;"></i>
                            </button>
                            <ng-template #TplFooter class="d-flex justify-content-end">
                                <button nz-button class="btn-outline-orange me-3">ปิด</button>
                                <button nz-button class="btn-orange">ยืนยัน</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <h2 class="mt-4">4.ชำระเงิน</h2>
        <div class="inner-content">
            <div class="mx-5" style="font-size: 18px;">
                <div class="d-flex justify-content-between mb-3">
                    <div class="headding-info">ส่วนลด</div>
                    <div>2%</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="headding-info">ค่าส่ง</div>
                    <div>120 บาท</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="headding-info">ยอดชำระทั้งหมด</div>
                    <div>1,500 บาท</div>
                </div>
            </div>
        </div>
    </div>
</div>