<div class="">
    <nz-input-group class="mb-3 me-3" [nzPrefix]="prefixTemplateSearch" style="width: 400px;">
        <input nz-input class="ml-3" placeholder="ค้นหา" nzSize="default" name="search">
    </nz-input-group>
    <ng-template #prefixTemplateSearch><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
    <!-- <nz-select class="me-3" ngModel="คลังสินค้าต้นทาง">
        <nz-option nzValue="คลังสินค้าต้นทาง" nzLabel="คลังสินค้าต้นทาง" nzDisabled></nz-option>
        <nz-option nzValue="คลังสินค้า A" nzLabel="คลังสินค้า A"></nz-option>
        <nz-option nzValue="คลังสินค้า B" nzLabel="คลังสินค้า B"></nz-option>
        <nz-option nzValue="คลังสินค้า C" nzLabel="คลังสินค้า C"></nz-option>
    </nz-select>
    <nz-select class="me-3" ngModel="คลังสินค้าปลายทาง">
        <nz-option nzValue="คลังสินค้าปลายทาง" nzLabel="คลังสินค้าปลายทาง" nzDisabled></nz-option>
        <nz-option nzValue="คลังสินค้า A" nzLabel="คลังสินค้า A"></nz-option>
        <nz-option nzValue="คลังสินค้า B" nzLabel="คลังสินค้า B"></nz-option>
        <nz-option nzValue="คลังสินค้า C" nzLabel="คลังสินค้า C"></nz-option>
    </nz-select> -->
    <nz-date-picker [(ngModel)]="date" [nzPlaceHolder]="'เลือกวันที่'" (ngModelChange)="onChange($event)"></nz-date-picker>
</div>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th class="text-center">ลำดับ</th>
            <th class="text-center">
                <input nz-input placeholder="รายการ" nzSize="small" style="width: 150px;"/>
            </th>
            <th class="text-start">
                <input nz-input placeholder="คลังสินค้าต้นทาง" nzSize="small" style="width: 150px;"/>
            </th>
            <th class="text-start">
                <input nz-input placeholder="คลังสินค้าปลายทาง" nzSize="small" style="width: 150px;"/>
            </th>
            <th class="text-start">
                <input nz-input placeholder="สินค้าที่โอนย้าย" nzSize="small" style="width: 150px;"/>
            </th>
            <th class="text-end">จำนวนสินค้า</th>
            <th class="text-end">มูลค้าสินค้าทั้งหมด</th>
            <th>เวลาที่สร้างรายการ</th>
            <th>ผู้ทำรายการ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td class="text-center">{{ data.key }}</td>
            <td class="text-center">
                <nz-tag [nzColor]="'cyan'">{{ data.transfer_id }}</nz-tag>
            </td>
            <td class="text-start">{{ data.ow }}</td>
            <td class="text-start">{{ data.dw }}</td>
            <td class="text-start">{{ data.product }}</td>
            <td class="text-end">
                <nz-tag [nzColor]="'orange'">{{ data.num_ofproduct | number: '1.0-0'}}</nz-tag>
            </td>
            <td class="text-end">
                <nz-tag [nzColor]="'green'">{{ data.product_value | number: '1.0-0' }}</nz-tag>
            </td>
            <td>{{ data.create_at }}</td>
            <td class="text-start">{{ data.create_by }}</td>
            <td class="py-1">
                <a routerLink="/system/transfer-detail">
                    <button class="btn btn-light btn-sm btn-detail mb-2">
                        ดูรายละเอียด
                    </button>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>