.ant-tag-cyan, .ant-tag-orange, .ant-tag-green {
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 0;
}

.btn-edit-delete {
    border: none;
    background: #fff;
    box-shadow: 1px 1px 4px 0px #00000038 !important;
    border-radius: 5px;
    padding: 3px 6px;
    margin-top: 5px;
    font-size: 22px;
}

.btn-edit-delete:hover {
    transform: scale(1.1);
}

.btn-detail {
    box-shadow: 1px 1px 4px 0px #00000038 !important;
    /* border: 1px solid #e85440; */
    color: rgb(0 0 0 / 50%);
}

.btn-detail:hover {
    transform: scale(1.1);
}